<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <input class="form-control" type="file" (change)="onFileChange($event)"/>
    </div>
    <div class="col-md-4">
      <button class="btn btn-danger" (click)="clear()">Limpiar</button>
      <button [disabled]="mensaje.invalid || loading" class="btn btn-success ms-2" (click)="sendMessage()">Enviar mensaje</button>
    </div>
  </div>
  <div class="row">
    <label class="form-label">Mensaje</label>
    <textarea class="form-control" [formControl]="mensaje" rows="3"></textarea>
  </div>
  <hr>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Celular</th>
          <th scope="col">Archivo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of celulares; index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{item.nombre}}</td>
          <td>{{item.celular}}</td>
          <td>{{item.archivo}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
